/*CSS for optional style 1*/

body {
	background-color: #ecf0f1;
}

.wrapper {
	background-color: #fff;
	padding: 1.5em 1.5em 5.5em 1.5em;
}

a {
	color: #e67e22;
}

a:hover {
	color: #d35400;
}

.section-title {
	background-color: #2980b9;
	color: #fff;
	margin-right: 1em;
}

.section-title h2 {
	padding: 1em;
}