/*Styles for Resume*/

* {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Bitter', serif;
}

p {
  line-height: 1.75;
  font-size: 18px;
}

.wrapper {
	width: 100%;
	max-width: 800px;
	margin: 3.5em auto;
}

.thirds-container {
	display: flex;
	margin-left: -1em;
	margin-right: -1em;
}

.thirds {
	margin: 0em 1em 1em 1em;
}

hr {
  margin: 3em 0;
}